.searchfield {
    width: 90%;
    overflow-y: visible;
    margin-left: 10px;
}

.search {
    width: 100%;
    overflow-y: visible;
}

.result {
    position: fixed;
    top: 100px;
    width: 65%;
    max-height: 700px;
    z-index: 100;
    background: #212426;
}

.more{
    color: #61dafb;
}
.more li:hover{
    color: #5089aa;
}
.search_link
{
    font-size: 1rem;
}
.search_image
{
    width: 10px;
    max-height: 10px;
}




