.searchfield {
    width: 90%;
    overflow-y: visible;
    margin-left: 10px;
}

.search {
    width: 100%;
    overflow-y: visible;
}

.result {
    position: fixed;
    top: 100px;
    width: 80%;
    color:green;
    z-index: 100;
    background: #212426;

}

.listitem {

}


