.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    max-height: 110px;
    background: #212426;
    place-content: flex-start;
    overflow-y: visible;

}
.ohneBild{
    width: 100%;
    max-height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    place-content: flex-start;
    overflow: visible;
}

.searchbar{
    width: 70%;
    max-height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    place-content: flex-start;
    overflow-y: visible;
}
.links{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    position: absolute;
    right: 0;
}
.linkText{
    color: darkgrey;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    margin: 1% 3% 1% 1%;
}
.linkText li:hover{
    color: #61dafb;
}
img{
    width: 110px;
    height: 110px;
    margin: 1% 3% 1% 1%;
}

